---
layout: default
title: bewu.dev | FAQ
description: często zadawane pytania (FAQ) o stronie bewu.ga oraz bewu
questions:
  - q: Dlaczego istnieje sekcja FAQ?
    a: Po to, żeby odpowiedzieć na wszystkie nurtujące pytania.
  - q: Kim jest bewu?
    a: <strong>bewu</strong> to ja, bartek. <br/> <a alt='O mnie' href='https://bewu.ga/#about' rel='next'>więcej o mnie</a>
  - q: Czym jest strona bewu.ga?
    a: Strona <a alt='bewu.ga' href='https://bewu.ga/' rel='prev'>bewu.ga</a> jest moją wizytówką lol.
  - q: Jak została stworzona ta strona?
    a: Strona <a alt='bewu.ga' href='https://bewu.ga/' rel='prev'>bewu.ga</a> napisana jest w języku HTML, a style w języku CSS. Hostowana jest za pomocą Github Pages. Kod źródłowy strony dostępny jest <a href='https://github.com/bewuwy/bewuwy' rel='noreferrer'>na stronie projektu na Githubie</a>.
  - q: Z jakiego oprogramowania korzysta bewu?
    a: Obecnie <strong>bewu</strong> działa na Windowsie 10, ponieważ Linux nie.
  - q: Na jakim hardwarze działa bewu?
    a: W najnowszych modelach <strong>bewu</strong> wykorzystujemy procesory <strong>Intel i20</strong> oraz kartę graficzną <strong>Nvidia 5080 super</strong>.
  - q: Czym jest Nvidia rtx 5080 super?
    a: Nvidia rtx 5080 super posiada 15,000 rdzeni CUDA i zbudowana jest na nowoczesnej i przełomowej architekturze bewuwy42069.

head_include: script_faq.html
---

{% include logo.html %}
<div class="center">
  <h1>FAQ</h1>
  <h2>często zadawane pytania o tej stronie oraz bewu</h2>
  <p class="f16">bo przecież dostaję ich tak wiele</p>
  <br/>

  <ul style="padding-right: 40px;">
    {% for item in page.questions %}
    <li>
      <p class="f20">{{ item.q }}</p>
      <p class="f16">{{ item.a }}</p>
    </li>
    {% endfor %}
  </ul>
</div>
