---
layout: default
title: bewu.dev
description: hej, jestem bewu aka bewuwy, jestem komputerświrem. no, i to jest moja strona bewu.dev
head_include: script_index.html
---

{% include nav.html title="start()" %}
<div class="banner" id="start">
  <div class="center">
    <img src="/assets/pfp/pfp-neon.webp" class="pfp" alt="bewu icon">
    <h1>bewu</h1>

    <div class="iconbox">
      <a href="https://github.com/bewuwy" title="bewuwy" rel="noreferrer" target="_blank">
      <img src="assets/icons/github.svg" alt="Github" width="auto" height="30"></a>

      <a href="https://www.youtube.com/channel/UCtu5KoWQvYRerzfRT5YYLlw/" title="bewuwy" rel="noreferrer" target="_blank">
      <img src="assets/icons/yt.svg" alt="YouTube" width="auto" height="30"></a>

      <a href="https://steamcommunity.com/id/bewuwy/" title="bewu" rel="noreferrer" target="_blank">
      <img src="assets/icons/steam.svg" alt="Steam" width="auto" height="30"></a>

      <a href="https://mine.ly/b3wu.1" title="b3wu" rel="noreferrer" target="_blank">
      <img src="assets/icons/mc.svg" alt="Minecraft" width="auto" height="30"></a>
    </div>

    {% include arrow.html title="o mnie" moveto="#about" %}
  </div>
</div>

<div class="banner" id="about">
  <div class="center">
    <h2>siema, jestem bewu</h2>
    <img src="assets/pfp/asking.webp" alt="bewu asking" style="height: 25vh; width: auto;" width="600" height="600">
    <p>kim jestem?</p>
    <p class="f16">świetnie, że pytasz: jestem bewu.</p>
    <p class="f16">co to znaczy, że jestem bewu?</p>
    <p class="f16">umiem klikać w komputer, no i zrobiłem parę projektów.</p>

    {% include arrow.html title="moje projekty" moveto="#projects" %}
  </div>
</div>

<div id="projects" style="height: 80vh;">
  <div class="center">
      <h2>moje projekty</h2>
      <p class="f16">większość moich projektów napisałem w Pythonie i nie obchodzi mnie, że jest wolny</p>
      <p class="f16">no i oprócz tego znam jeszcze podstawy Javy, C#, prawie C++, HTMLa, Javascripta i CSS</p>
      <p class="f16">umiem jeszcze kopiować kod z stackoverflow</p>
      <p class="f16"><a href="/projects" rel="next" alt="Projects">moje projekty</a></p>
  </div>
</div>
