@font-face {
  font-family: Poppins;
  font-weight: normal;
  src: url(/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: Poppins;
  font-weight: bold;
  src: url(/fonts/Poppins-SemiBold.ttf);
}

.center {
  margin: 10%;
  margin-top: 0.5%;
  margin-bottom: 10%;
  padding: 10px;
  width: auto;
  text-align: center;
  display: block;
}
.logo {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    height: auto;
    margin: 30px;
    margin-bottom: 10px;
}
.f20 {
  font-weight: bold;
  font-size: 20px;
}
.f16 {
  font-size: 16px;
  margin-left: 3%;
  margin-right: 3%;
}
body {
    background-color: #181a1b;
    color: white;
    font-family: 'Poppins';
}
a {
  color: #1a85ff;
  font-weight: bold;
  text-decoration: none;
}
h1 {
  font-size: 44px;
}
h2 {
  font-size: 32px;
}
p {
  font-size: 24px;
}
img {
  vertical-align: middle;
}
li {
  padding: 8px;
  margin-bottom: 15px;
  background-color: #2ebbd6;
  border-radius: 20px;
}
