<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "bewu",
    "legalName" : "bewuwy",
    "url": "https://bewu.dev/",
    "@id": "https://bewu.dev/",
    "logo": "https://bewu.ga/assets/pfp/pfp-neon.webp",
    "foundingDate": "2021",
    "founders": [
      {
       "@type": "Person",
       "name": "Bartek bewu Włodarczyk"
      }
    ],
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Warszawa",
      "addressCountry": "PL"
    },
    "sameAs": [
      "https://github.com/bewuwy",
      "https://steamcommunity.com/id/bewuwy",
      "https://www.youtube.com/channel/UCtu5KoWQvYRerzfRT5YYLlw/",
      "https://mine.ly/b3wu.1"
    ]
  }
</script>
<script>
  function moveTo(section) {
      $("html, body").animate({ scrollTop: $(section).offset().top }, 1000);
  }
</script>

<style>a { vertical-align: middle; }</style>
