<!-- google seo -->
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "faq",
        "item": "https://bewu.ga/faq/"
      }]
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
      {% for item in page.questions %}
        {
          "@type": "Question",
          "name": "{{ item.q }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ item.a }}"
          }
        }{% if forloop.last == false %},{% endif %}
      {% endfor %}
    ]}
  </script>

  <style>
    ul a {
      color: white;
      text-decoration: underline;
    }
  </style>
