@import 'style.scss';

$border: 6px solid black;

main {
    display: flex;
    flex-direction: row;
}

button, a[role="button"] {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s;
    @apply drop-shadow-lg;
}
