@import 'style.scss';

$border: 6px solid black;

main {
    display: flex;
    flex-direction: row;
}

svg {
    font-size: 140px;
    font-weight: bold;
    width: 450px;
    height: 70px;
    fill: white;
}

.svgText {
    fill: black;
    stroke: white;
    stroke-width: 15px;
    stroke-linejoin: round;
    paint-order: stroke;
}
