@import 'style.scss';

main {
    display: flex;
    flex-direction: row;
}

div {
    box-sizing: border-box;
}

.bewu-text {
    border-bottom: 6px solid black;
    border-right: 6px solid black;
    height: 100vh;

    span {
        rotate: 180deg;
        writing-mode: vertical-rl;
        font-size: 23vh;
    }
}

.tile {
    padding: 10% 2.5vw;
    justify-content: center;
}

.me {
    .tile {
        padding: 5% 2.5vw;
        justify-content: space-around;
    } 
}

.rhs {
    width: 100%;
    display: flex;
    flex-direction: column;

    .hi {
        width: 100%;
        text-align: center;
        border-bottom: 6px solid black;
        font-size: 3vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    .content {
        height: 100%;
        display: flex;
        flex-direction: row;

        .title {
            font-size: 8vh;
        }

        .subtitle {
            font-size: 4vh;
        }

        .annotation {
            font-size: 2vh;
        }

        div {
            display: flex;
            flex-direction: column;
            width: 50%;
            gap: 3vh;
        }

        .projects {
            background-color: $primary-color;
            border-right: 6px solid black;
            border-bottom: 6px solid black;
        }

        .me {
            height: 100%;
            gap: 0;
            border-bottom: 6px solid black;

            div {
                width: 100%;
            }

            .about {
                height: 35%;
                background-color: $contrast-color;
                border-bottom: 6px solid black;

                .buttons {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    span {
                        font-size: 1.3em;

                        $margin: 1vw;

                        &::before {
                            content: "-";
                            margin-right: $margin;
                        }
                        &::after {
                            content: "-";
                            margin-left: $margin;
                        }

                    }
                }
            }

            .literally-me {
                flex-grow: 1;

                background-color: $secondary-color;

                .image-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-end;
                    height: 100%;

                    .image-wrapper {
                        position: relative;
                        // width: 40vw;
                        // max-height: 30vh;
                        // max-width: 30vh;
                        aspect-ratio: 1/1;
                        height: 100%;
                        width: auto;
                    }

                    span {
                        text-align: right;
                        width: 10vw;
                        // padding-left: 10vw;
                    }
                }
            }
        }
    }
}
