@tailwind base;
@tailwind components;
@tailwind utilities;

$bg-color: #F7EDE2;
$primary-color: #F6BD60;
$contrast-color: #84A59D;
$link-color: #19698f;

.bg-contrast {
    background-color: $contrast-color;
}

body {
    background-color: $bg-color;
    margin: 0;
}

button, a[role="button"] {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s;
    @apply drop-shadow-lg hover:drop-shadow-2xl;
}

.link {
    color: $link-color;
}

a:not([role='button']) {
    @apply hover:underline;
}
