@tailwind base;
@tailwind components;
@tailwind utilities;

$bg-color: #F7EDE2;
$primary-color: #F6BD60;
$contrast-color: #84A59D;

.bg-contrast {
    background-color: $contrast-color;
}

body {
    background-color: $bg-color;
    margin: 0;
}
