@font-face {
  font-family: fsm;
  font-weight: bold;
  src: url(/assets/fonts/FantasqueSansMono-Regular.ttf);
  font-display: swap;
}

nav {
  margin-left: 1vw;
  display: inline-block;
  position: fixed;
}
nav a {
  margin: 1vw;
  color: white;
  font-size: 3.5vh;
  font-weight: normal;
  vertical-align: 2%;
}
nav a:hover {
  opacity: 0.7;
}
nav span {
  font-size: 4vh;
  font-weight: bold;
}
#navLinks a {
  margin-left: 4em;
  font-size: 3vh;
}

#nav {
  transition: transform 0.2s;
}
#nav:hover {
  transform: scale(1.05);
}
